

<button class="btn btn-primary m20" type="button" id="first">Fade out first text</button>
<button class="btn btn-dark m20" type="button" data-count="second">Fade out second text</button>
<button class="btn btn-warning m20" type="button" >Fade out all text</button>

{{>dropdownMenu}}
<div class="row my-20">
{{>card}}
</div>
<div class="row my-20">
    {{>tabs}}
</div>
<div class="row my-20">
    {{>accordion}}
</div>
<div class="row my-20">
    {{>carousel}}
</div>
{{>modal}}
