.m10{margin: rem(10);}
.m20{margin: rem(20);}
.m30{margin: rem(30);}

.mt-10 {margin-top: rem(10);}
.mt-20 {margin-top: rem(20);}
.mt-30 {margin-top: rem(30);}

.mb-10 {margin-bottom: rem(10);}
.mb-20 {margin-bottom: rem(20);}
.mb-30 {margin-bottom: rem(30);}

.ml-10 {margin-left: rem(10);}
.ml-20 {margin-left: rem(20);}
.ml-30 {margin-left: rem(30);}

.mr-10 {margin-right: rem(10);}
.mr-20 {margin-right: rem(20);}
.mr-30 {margin-right: rem(30);}

.mx-10 {margin-right: rem(10); margin-left: rem(10);}
.mx-20 {margin-right: rem(20); margin-left: rem(20);}
.mx-30 {margin-right: rem(30); margin-left: rem(30);}

.my-10 {margin-top: rem(10); margin-bottom: rem(10);}
.my-20 {margin-top: rem(20); margin-bottom: rem(20);}
.my-30 {margin-top: rem(30); margin-bottom: rem(30);}
