* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  @include wrapper();
}

.mb-1 {
  margin-bottom: rem(10);
}
.mb-2 {
  margin-bottom: rem(20);
}
.mb-3 {
  margin-bottom: rem(30);
}
.mb-4 {
  margin-bottom: rem(40);
}

.mb-5 {
  margin-bottom: rem(50);
}
