<div class="card">
    <img src="https://nationalpostcom.files.wordpress.com/2016/10/gettyimages-525508231-1.jpg?quality=80&strip=all&w=780" class="card-img" alt="photo">
    <div class="card-body">
        <div class="card-title">Card title</div>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A delectus doloribus iure placeat quae ratione, repellendus veritatis! Consectetur modi, voluptates?</p>
        <a href="#" id="trigger" class="btn btn-primary" data-togle="modal" data-target="#exampleModal">Link to</a>
    </div>
</div>
<div class="card">
    <img src="https://nationalpostcom.files.wordpress.com/2016/10/gettyimages-525508231-1.jpg?quality=80&strip=all&w=780" class="card-img" alt="photo">
    <div class="card-body">
        <div class="card-title">Card title #2</div>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A delectus doloribus iure placeat quae ratione, repellendus veritatis! Consectetur modi, voluptates?</p>
        <a href="#" class="btn btn-primary" data-togle="modal" data-target="#exampleModal2">Link to</a>
    </div>
</div>
