<!--<div class="modal" id="exampleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <button class="close" data-close >
                <span>&times;</span>
            </button>
            <div class="modal-header">
                <div class="modal-title">
                    Modal title
                </div>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at cum ducimus iure minima quibusdam quisquam reprehenderit suscipit unde voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda exercitationem iste quidem quo quos sit suscipit! Animi culpa necessitatibus suscipit.
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-close >Close</button>
                <button class="btn btn-success" data-close >Save changes</button>
            </div>
        </div>
    </div>
</div>-->
<div class="modal" id="exampleModal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <button class="close" data-close >
                <span>&times;</span>
            </button>
            <div class="modal-header">
                <div class="modal-title">
                    Modal title #2
                </div>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at cum ducimus iure minima   </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-close >Close</button>
                <button class="btn btn-success" data-close >Save changes</button>
            </div>
        </div>
    </div>
</div>
